@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Lato', Arial;
}

body {
  background-color: #1b1b32;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

html,
body,
#root,
.App,
main {
  height: 100%;
}

footer {
  background-color: #0a0a23;
  height: 70px;
  width: 100%;
  display: flex;
  color: #fff;
  border-top: 3px solid #fff;
  z-index: 10;
  position: absolute;
  bottom: 0;
}

[data-meta='title'] {
  font-size: 18px;
}
[data-meta='artist'] {
  font-size: 14px;
}
[data-meta='album'] {
  font-size: 10px;
}

[data-meta='picture'] {
  height: 70px;
  width: 70px;
  position: absolute;
}

[data-meta='listeners'] {
  position: absolute;
  right: 15px;
  top: 2px;
  font-size: 20px;
  font-weight: 900;
}

[data-meta='stream-select'] {
  position: absolute;
  right: 15px;
  bottom: 17px;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px;
  padding-right: 20px;
  border-radius: 0;
  border: none;
  background-color: white;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

#metaDisplay {
  width: calc(100% - 210px);
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#metaDisplay.shown {
  opacity: 1;
}

#playContainer {
  height: 70px;
  width: 70px;
  padding: 15px;
  cursor: pointer;
  position: relative;
}

#playContainer::before {
  content: 'Push Play or Space Bar to Start Music';
  font-size: 21px;
  padding: 10px 100px 10px 20px;
  font-weight: bold;
  box-sizing: border-box;
  position: absolute;
  height: 100px;
  width: 250px;
  top: -110px;
  left: -170px;
  background-color: #1b1b32;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-image: url(https://cdn-media-1.freecodecamp.org/code-radio/cta.png);
  background-position: 150px center;
  background-repeat: no-repeat;
  pointer-events: none;
}

#playContainer.cta::before {
  opacity: 1;
}

#playContainer:hover {
  background: #2a2a40;
}

.slider-container {
  height: 70px;
  width: 140px;
  padding: 22px 20px 22px 15px;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #d3d3d3;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
}

#nowPlaying {
  height: 100%;
  left: 70px;
  width: calc(100% - 70px);
  position: relative;
  padding-left: 4px;
}

#visualizer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 88px;
  z-index: 10;
  pointer-events: none;
}

#visualizer canvas {
  height: 100%;
  width: 100%;
}

#nowPlaying progress {
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 4px;
  width: calc(100% - 8px);
  background-color: silver;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#nowPlaying progress::-webkit-progress-bar {
  background-color: rgb(10, 10, 35);
}

#nowPlaying progress::-webkit-progress-value {
  background-color: white;
}

#recent-song-history {
  height: 100%;
  width: 25%;
  cursor: pointer;
}

#recent-song-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 5%;
  margin-left: 15px;
  top: -317px;
  width: 350px;
  background-color: rgb(10, 10, 35);
  cursor: default;
}

#recently-played-text {
  margin-top: 7%;
  margin-left: 5%;
  font-size: 20px;
  font-weight: bold;
}

.recent-song-info {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 1px solid white;
}

#recent-song-list .song-info:nth-child(5) {
  border-bottom: none;
}

.recent-song-info img {
  float: left;
  height: 50px;
  width: 50px;
  margin-bottom: 3px;
}

.recent-song-info p {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 13px;
}

.animation {
  background-image: url('https://cdn-media-1.freecodecamp.org/code-radio/bg.jpg');
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: calc(100% - 158px);
}

.animation.saron::before {
  content: '';
  background-image: url('https://cdn-media-1.freecodecamp.org/code-radio/Saron3.gif');
  left: 388px;
  bottom: 0px;
  width: 509px;
  height: 767px;
  position: absolute;
}

details {
  position: absolute;
  bottom: 100px;
  right: 50px;
  background-color: rgba(10, 10, 35, 0.6);
  color: #fff;
  padding: 15px;
  opacity: 0.1;
  transition: opacity 0.25s ease-out;
}

details:hover,
details[open] {
  opacity: 1;
}

dt {
  margin-top: 10px;
  margin-inline-start: 0px;
}

dd {
  margin-inline-start: 10px;
  font-style: italic;
}

@media (max-width: 750px) {
  [data-meta='title'],
  [data-meta='artist'],
  [data-meta='album'] {
    padding-left: 10px;
  }
  [data-meta='picture'] {
    bottom: 212px;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px;
  }
  [data-meta='listeners'] {
    left: 10px;
    top: auto;
    bottom: 15px;
  }
  [data-meta='stream-select'] {
    right: 10px;
  }
  #nowPlaying {
    padding: 0;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    background-color: rgba(10, 10, 35, 1);
    bottom: 130px;
    margin: 0;
    width: 100vw;
    left: 0px;
    height: 120px;
  }

  #nowPlaying progress {
    background-color: green;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  footer {
    border: none;
  }

  .slider-container {
    position: absolute;
    right: 0;
  }

  #playContainer {
    position: absolute;
    margin-left: -35px;
    left: 50%;
  }
  #playContainer::before {
    display: none;
  }
  #visualizer {
    background-color: #002ead;
  }
}

@media (max-width: 500px) {
  #visualizer {
    background-color: #002ead;
    top: 238px;
  }
  #recently-played-text {
    margin-top: 13%;
    margin-left: 15%;
    font-size: 15px;
    font-weight: bold;
  }
  #recent-song-list {
    z-index: 10;
  }
}

@media (max-height: 650px) {
  [data-meta='picture'] {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
}

@media (max-height: 600px) {
  [data-meta='picture'] {
    display: none;
  }
}

/* -----------------------site navigation ------------*/

.site-nav {
  z-index: 300;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: hidden;
  height: 40px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  height: 38px;
  background: #0a0a23;
  position: absolute;
  z-index: 1000;
  color: #fff;
  width: 100%;
  padding: 0 15px;
  top: 0;
}

.site-nav-middle {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-right: 10px;
  padding-bottom: 80px;
  letter-spacing: 0.4px;
  white-space: nowrap;

  -ms-overflow-scrolling: touch;
}

.site-nav-left {
  display: none;
}

.site-nav-logo {
  flex-shrink: 0;
  display: block;
  margin: 0 5px;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.site-nav-logo:hover {
  text-decoration: none;
}

.site-nav-logo img {
  display: block;
  width: auto;
  height: 25px;
  margin-top: 7px;
}

.nav {
  display: flex;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
}

.nav {
  height: 38px;
}

.nav li {
  display: block;
  margin: 0;
  padding: 0;
}

.nav li a {
  display: block;
  margin: 0;
  padding: 8px 15px;
  color: #fff;
  opacity: 1;
  white-space: nowrap;
}

.nav li:hover {
  background: white;
}

.nav li a:hover {
  color: #0a0a23;
  text-decoration: none;
}

.site-nav-right {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 38px;
}

.toggle-button-nav {
  display: none;
  padding: 2px 14px 3px;
  border: 1px solid #fff;
  font-family: 'lato', sans-serif;
  font-size: 18px;
  color: #fff;
  outline: none;
  background-color: #0a0a23;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 4px;
  height: auto;
}

@media (max-width: 500px) {
  .site-header {
    padding-right: 0;
    padding-left: 0;
  }
  .site-nav-middle {
    margin-right: 0;
  }
  .nav {
    display: none;
    position: absolute;
    background-color: #0a0a23;
    top: 38px;
    left: 15px;
  }

  .toggle-button-nav {
    display: flex;
  }
  .show-main-nav-items {
    display: flex;
  }
  .expand-nav {
    min-height: calc(40px + 38px);
  }
  .reverse-toggle-color {
    background-color: white;
    color: #0a0a23;
  }
}

@media (min-width: 750px) {
  .site-nav-middle {
    flex: 1 0 30%;
    margin-right: 0px;
  }
  .site-nav-left {
    display: flex;
    flex: 1 0 30%;
    margin-left: 0px;
  }
  .site-nav-logo {
    margin-left: auto;
    margin-right: auto;
  }
  .site-nav-right {
    flex: 1 0 30%;
    margin-left: auto;
  }
  .main-nav-group {
    margin-left: auto;
  }
}

@media (max-width: 500px) {
  .site-title {
    font-size: 30px;
  }
}

/*     container and grid     */
a {
  text-decoration: none;
}

h1,
h2 {
  font-size: 18px;
  margin: 0;
  color: white;
  display: inline-block;
}

p {
  margin: 0;
}

.under-header-content {
  background-color: #0a0a23;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 38px;
  text-align: center;
}

#container {
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(50px + 38px);
}

@media (max-width: 500px) {
  .under-header-content {
    flex-direction: column;
    height: 200px;
  }

  footer.footer {
    display: none;
  }
}
