name: Coderadio-client ci

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout Source Files
        uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6 # v2

      - name: Install modules
        run: npm ci

      - name: Run ESLint
        run: npm run lint

  cypress-run:
    name: Cypress Test
    # Netlify deploys onto Ubuntu 20.04, so we should test on that os:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        browsers: [chrome, firefox]
        node-version: [18.x]
    steps:
      - name: Set Action Environment Variables
        run: |
          echo "CYPRESS_RECORD_KEY=${{ secrets.CYPRESS_RECORD_KEY }}" >> $GITHUB_ENV
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
          echo "CYPRESS_INSTALL_BINARY=6.0.0" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6 # v2

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          browser: ${{ matrix.browsers }}
          build: npm run build
          start: npm start
          wait-on: http://localhost:3000
          wait-on-timeout: 1200

  unit-test:
    name: Unit Test
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout Source Files
        uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6 # v2

      - name: Install modules
        run: npm ci

      - name: Run tests
        run: npm test
